@import url('./../../../assets/styling.css');

.badge {
	border-radius: 100px;
	text-align: center;
	padding: 4px 10px;
	font-family: var(--secondary-regular);
	font-size: 16px;
	outline: none;
	transition: 0.2s ease;
}

.theme1 {
	background: #F63A5622;
	border: 1px solid #F63A5633;
}
.theme2 {
	background: #726DA844;
	border: 1px solid #726DA855;
}
.theme3 {
    background: #1B202111;
	border: 1px solid #1B202122;
}
.badge:hover {
	transform: translateY(-4px);
}

@media only screen and (max-width: 767px) {
	.badge {
		padding: 4px 5px;
		font-size: 14px;
	}
}