@import url('./../../../assets/styling.css');

/* sizes */
.heading {
	font-family: var(--semibold);
	font-size: 32px;
}

.subHead {
	font-family: var(--semibold);
	font-size: 16px;
}

.normal {
	font-family: var(--semibold);
	font-size: 14px;
}

.small {
	font-family: var(--semibold);
	font-size: 12px;
}

/* theme */
.dark {
	color: var(--dark-color);
}

.secondary {
	color: var(--secondary-color);
}

.dark--round {
	background: var(--light-grey);
	border-radius: 100px;
	padding: 0px 4px;
	color: var(--dark-color);
}

.secondary--round {
	background: var(--secondary-color);
	border-radius: 100px;
	color: var(--white-color);
	padding: 2px 10px;
}

.light {
	color: var(--white-color);
}

.strike {
	padding-left: 6px;
	color: var(--secondary-color);
	text-decoration: line-through;
}