@import url('./../../../assets/styling.css');

.textBox {
	padding: 0px;
	display: inline-block;
	margin: 0;
	text-align: justify;
}

.textGrey {
	font-family: var(--secondary-bold);
	font-size: 24px;
	color: var(--light-grey);
}

.textDark {
	font-family: var(--primary-regular);
	font-size: 56px;
	color: var(--dark-color);
	letter-spacing: 2px;
	margin-top: 0;
	padding: 0;
	margin-bottom: 6px;
}
.textDarkGrey {
	font-family: var(--secondary-bold);
	font-size: 14px;
	color: var(--dark-grey);
}

.heading {
	font-family: var(--primary-regular);
	color: var(--dark-color);
	font-size: 30px;
	letter-spacing: 2px;
	font-weight: bold;
	text-transform: uppercase;
}

.subHead {
	font-family: var(--primary-regular);
	color: var(--dark-color);
	font-size: 16px;
	font-weight: bold;
}

.paragraph {
	font-family: var(--secondary-bold);
	font-size: 13px;
	word-spacing: 4px;
	color: var(--dark-grey);
}

.subHead2 {
	font-family: var(--secondary-regular);
	color: var(--deep-dark);
	font-size: 12px;
	font-weight: bold;
}
.subHead3 {
	font-family: var(--secondary-bold);
	color: var(--light-grey);
	font-size: 12px;
}


@media only screen and (max-width: 767px) {
	.textDark {
		font-size: 36px;
	}

	.textGrey {
		font-family: var(--secondary-bold);
		font-size: 20px;
		color: var(--light-grey);
	}
}