@import url('./../../../assets/styling.css');

.modal {
	background: var(--white-color);
	box-shadow: 0px -2px 20px 1px var(--dark-color8);
	height: 100vh;
	padding: 0px;
	position: fixed;
	right: 0px;
	top: 0;
	width: 50vw;
	z-index: 9;
}

.flex {
	align-items: center;
	column-gap: 10px;
	display: flex;
	justify-content: space-between;
}

.headwrap {
	padding: 20px 30px;
	position: fixed;
	width: 45vw;
	background: var(--white-color);
	border-bottom: 1px solid var(--secondary-color2);
}

.listing {
	margin: 60px 0;
	overflow-y: auto;
}

.summary {
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 50%;
	padding: 10px 0;
	background: var(--secondary-color);
}

@media only screen and (max-width: 767px) {
	.modal {
		width: 80vw;
	}

	.headwrap {
		width: 70vw;
	}

	.summary {
		width: 100%;
	}
}

@media only screen and (max-width: 567px) {
	.modal {
		width: 100vw;
	}

	.headwrap {
		width: 80vw;
	}

	.summary {
		width: 100%;
	}
}