.navItems {
	margin: 0;
	display: flex;
	justify-content: space-evenly;
}

.navItems_List {
	display: inline;
	list-style-type: none;
}

@media only screen and (max-width: 767px) {
	.navItems {
		display: block;
	}
	.navItems_List {
		display: block;
		list-style-type: none;
	}
	.navItems Button {
		margin-top: 20px;
	}
}