@import url('./../../../assets/styling.css');

/* sizes */
.normal {
	width: 100px;
	padding: 4px 8px;
}

/* themes */
.secondary--round {
	background: var(--secondary-color);
	border-radius: 100px;
	color: var(--white-color);
	cursor: pointer;
}