@import url('./../../../assets/styling.css');

.button {
	outline: 0;
  	border-radius: 30px;
  	cursor: pointer;
  	border: none;
  	font-family: var(--primary-regular);
}
.small {
	padding: 4px 16px;
	font-size: 14px;
}
.medium {
	padding: 4px 3rem;
	font-size: 18px;
}
.primary--outline {
	background: var(--light-color);
	border: 2px solid var(--secondary-color);
	color: var(--dark-grey);
	padding: 4px 3rem;
	font-size: 18px;
}

.primary {
	background: var(--secondary-color);
	color: var(--light-color);
}

.secondary {
	background: var(--primary-color);
	color: var(--light-color);
}