@import url('./../../../assets/styling.css');

.headSection {
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	vertical-align: center;
	align-items: center;
}

.bottomBorder {
	align-items: center;
	padding: 4px;
	text-align: center;
}