@font-face {
    font-family: 'regular';
    src:
        local('regular'),
        url('./fonts/regular.ttf')
}

@font-face {
    font-family: 'semibold';
    src:
        local('semibold'),
        url('./fonts/semibold.ttf')
}

@font-face {
    font-family: 'bold';
    src:
        local('bold'),
        url('./fonts/bold.ttf')
}

:root {
	/* ------ Color ------ */
    --dark-color: #4a4a4a;
    --dark-color8: #22222288;
    --light-color: #eeeeee;
    --light-grey: #dddddd;
	--primary-color: #fdd10b;
    --primary-color2: #fdd10b22;
    --secondary-color: #ec711e;
    --secondary-color2: #ec711e22;
    --white-color: #ffffff;

	/* ------ Fonts ------ */
    --bold: 'bold';
	--regular: 'regular';
    --semibold: 'semibold';
    
}